In [3]:
import pandas as pd
automobile_data = pd.read_csv("Automobile_data.csv")

"""Question 1: Printing first 5 rows and last 5 rows"""
print(automobile_data.head())
print(automobile_data.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [4]:
"""Question 2: Clean data and update csv file."""
print(automobile_data.replace(["?", "n.a"], "NaN"))

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
..              ...         ...              ...      ...
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

In [5]:
"""Question 3; Find and print the most expensive car company name and price"""
expensive = automobile_data.loc[automobile_data.price == automobile_data.price.max(), ["company", "price"]]
print(expensive)

          company    price
35  mercedes-benz  45400.0

In [6]:
"""Question 4: Print all Toyota car details"""
toyota_details = automobile_data.loc[automobile_data.company == "toyota"]
print(toyota_details)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [7]:
"""Question 5: Count cars per company"""
print(automobile_data.groupby("company")["company"].count())

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

In [8]:
"""Question 6: Find each company's highest priced car"""
print(automobile_data[["company", "price"]].groupby("company").max())

                 price
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

In [9]:
"""Question 7: Find the average mileage of each car making company"""
print(automobile_data[["company", "average-mileage"]].groupby("company").mean())

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000

In [10]:
"""Question 8: sort all cars by Price column"""
print(automobile_data.sort_values(by="price"))

    index        company body-style  wheel-base  length engine-type  \
13     16      chevrolet  hatchback        88.4   141.1           l
27     36          mazda  hatchback        93.1   159.1         ohc
48     66         toyota  hatchback        95.7   158.7         ohc
36     49     mitsubishi  hatchback        93.7   157.3         ohc
28     37          mazda  hatchback        93.1   159.1         ohc
..    ...            ...        ...         ...     ...         ...
11     14            bmw      sedan       103.5   193.8         ohc
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv
22     31          isuzu      sedan        94.5   155.9         ohc
23     32          isuzu      sedan        94.5   155.9         ohc
47     63        porsche  hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
13            three          48               47   5151.0
27             four          68               30   5195.0
48             four          62               35   5348.0
36             four          68               37   5389.0
28             four          68               31   6095.0
..              ...         ...              ...      ...
11              six         182               16  41315.0
35            eight         184               14  45400.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]

In [11]:
"""Question 9: Concatenate two dataframes and create a key for each dataframe"""
german_cars = {
    "Company": ["Ford", "Mercedes", "BMW", "Audi"],
    "Price": [23845, 171995, 135925, 71400]
}
japanese_cars = {
    "Company": ["Toyota", "Honda", "Nissan", "Mitsubishi"],
    "Price": [29995, 23600, 61500, 58900]
}
df1 = pd.DataFrame(german_cars)
df2 = pd.DataFrame(japanese_cars)
frames = [df1, df2]
print(pd.concat(frames, keys=["German Cars", "Japanese Cars"]))

                    Company   Price
German Cars   0        Ford   23845
              1    Mercedes  171995
              2         BMW  135925
              3        Audi   71400
Japanese Cars 0      Toyota   29995
              1       Honda   23600
              2      Nissan   61500
              3  Mitsubishi   58900

In [12]:
"""Question 10: Merge two dataframes and append the second dataframe as a new column to the first dataframe"""

car_price = {
    "Company": ["Toyota", "Honda", "BMW", "Audi"],
    "Price": [23845, 17995, 135925, 71400]
}
car_horsepower = {
    "Company": ["Toyota", "Honda", "BMW", "Audi"],
    "horsepower": [141, 80, 182, 160]
}
df_1 = pd.DataFrame(car_price)
df_2 = pd.DataFrame(car_horsepower)
merged_df = pd.merge(df_1, df_2)
print(merged_df)

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMW  135925         182
3    Audi   71400         160